@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&display=swap");

body {
  font-family: "Lobster", cursive;
  color: darkslategrey;
}

h3 {
  margin-top: 0px;
  padding-top: 10px;
}

.clear {
  clear: both;
}

div img {
  float: right;
}

.container {
  display: flex;
  align-items: flex-start;
}

.navigation {
  width: 15em;
  background: papayawhip;
  margin-bottom: 0.2em;
}

.content {
  flex-direction: column;
}

.article {
  width: auto;
  background-color: pink;
  margin-bottom: 0.2em;
  /*overflow: hidden;*/
  padding-bottom: 20px;
}

.footer {
  background-color: aquamarine;
  width: 100%;
}
