@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&display=swap");

body {
  font-family: "Lobster", cursive;
  color: darkslategrey;
  padding: 20px;
}

div img {
  float: right;
}

.container {
  display: flex;
}

.navigation {
  width: 15em;
  background: papayawhip;
}

.content {
  flex-basis: auto;
  flex-direction: column;
}

.article {
  width: auto;
  background-color: pink;
  margin-bottom: 0.2em;
  overflow: hidden;
  padding-bottom: 20px;
}

.footer {
  background-color: aquamarine;
  width: 100%;
}
