div {
  width: 141px;
  height: 190px;
  background-image: url("../img/cards.png");
  display: inline-block;
  border-radius: 20px;
}

.one {
  background-position: -432px -1194px;
}

.two {
  background-position: 0px -1791px;
}

.three {
  background-position: -288px -1392px;
}

.four {
  background-position: -143px -2188px;
}

.five {
  background-position: 0px -2388px;
}

.first {
  position: relative;
  top: 100px;
  left: 280px;
  z-index: 10;
}

.second {
  position: relative;
  top: 80px;
  left: 100px;
  z-index: 9;
}

.third {
  position: relative;
  top: 60px;
  left: -80px;
  z-index: 8;
}

.fourth {
  position: relative;
  top: 40px;
  left: -260px;
  z-index: 7;
}

.fifth {
  position: relative;
  top: 20px;
  left: -440px;
  z-index: 6;
}
